@model BloodDonorProject.Models.Donation

<div class="form-group">
    <label asp-for = "BloodDonorId" class="control-label">Donor</label>
    <select asp-for="BloodDonorId"  class="form-control" asp-items="ViewBag.donorList">
        <option value="">-- Select Donor --</option>
    </select>
    <span asp-validation-for="BloodDonorId" class="text-danger"></span>
</div>